body{    
    background-color: #252322;
}
h2{
    color: #FFFAFA;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}
h1{
    color:#FFFAFA;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}